body {
  color: navy;
  background-color: cyan;
  overflow: auto;
}

.yellow-text {
  color: yellow;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.purple-text {
  color: purple;
}

.blue-text {
  color: blue;
}

.white-text {
  color: white;
}

.orange-text {
  color: orange;
}

.isofontti {
  font-size: 4em;
}

.bigfont {
  font-size: 4em;
}

.runefont {
  font-size: 4em;
}
